.map {
  background-image: url('../assets/map.png');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% 100%;
  width: 100%;
  min-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s;
}

.place {
  background-image: url('../assets/Component\ 1\ –\ 863.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  width: 42px;
  height: 55px;
  outline: none;
  border: 0;
  position: absolute;
}

.place:hover {
  background-image: url('../assets/Component 1 – 577 (Hover State).png');
}

.CANWest {
  top: 23vh;
  left: 16vw;
}

.CANEast {
  top: 27vh;
  left: 29vw;
}

.USA {
  top: 36vh;
  left: 20vw;
}

.MEX {
  top: 47vh;
  left: 22.5vw;
}

.COL {
  top: 56vh;
  left: 29vw;
}

.BRA {
  top: 65vh;
  left: 36vw;
}

.ARG {
  top: 80vh;
  left: 30vw;
}

.ENG {
  top: 22vh;
  left: 50vw;
}

.RUS {
  top: 24vh;
  left: 55vw;
}

.ESP {
  top: 36.5vh;
  left: 45vw;
}

.GRE {
  top: 35vh;
  left: 51vw;
}

.SEN {
  top: 48vh;
  left: 43vw;
}

.SAF {
  top: 74vh;
  left: 52vw;
}

.UAE {
  top: 45vh;
  left: 59.5vw;
}

.CHI {
  top: 36vh;
  left: 73vw;
}

.AUS {
  top: 76vh;
  left: 81vw;
}
